<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Події</title>
    {% load static %}
</head>
<body>
<div class="container">
    <h2>Список подій</h2>
    <ul class="list-group">
        {% for event in events %}
            <li class="list-group-item">
                <h3>{{ event.title }}</h3>
                <p>{{ event.description }}</p>
                <small>{{ event.date }} о {{ event.time }}</small>
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
