<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форум</title>
    {% load static %}
</head>
<body>
    <div class="container">
        <h2>Список форумів</h2>
        <ul class="list-group">
            {% for forum in forums %}
                <li class="list-group-item">
                    <a href="{% url 'forum_detail' forum.id %}">{{ forum.title }}</a>
                    <p>{{ forum.description }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
