<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профіль користувача</title>
    {% load static %}
</head>
<body>
    <div class="container">
        <h2>Профіль: {{ user.username }}</h2>
        <img src="{{ user.userprofile.profile_picture.url }}" alt="Profile Picture" class="img-thumbnail" width="200">
        <p>{{ user.userprofile.bio }}</p>
        <a href="{% url 'home' %}" class="btn btn-secondary">Назад до головної</a>
    </div>
</body>
</html>
