{% extends 'base.html' %}

{% block content %}
<div class="container" style="min-height: 88vh; margin-top: 12vh;">
    <h1 class="text-center w-100">Форум</h1>

    <div class="d-flex justify-content-center w-100 mt-3">
        <button type="button" data-bs-toggle="collapse" data-bs-target="#thread-create" class="btn btn-primary">+Створити гілку</button>
    </div>
    <div class="collapse" id="thread-create">
        <form action="{% url 'forum:thread-create' %}" method="post" class="form-control">
            {% csrf_token %}

            <p>
                <label for="title">Title</label>
                <input type="text" name="title" class="form-control" maxlength="200">
            </p>

            <button type="submit" class="btn btn-success w-100">Створити</button>
        </form>
    </div>

    <div class="d-flex flex-column align-items-center my-5">
        <h3 class="fw-normal">Пошук</h3>
        <form action="{% url 'forum:search' %}" method="get" class="d-inline-flex gap-3 w-50">
            <input type="text" name="query" id="" placeholder="Пошук гілки" class="form-control">
            <button type="submit" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
            </button>
        </form>
    </div>

    <h4 class="text-center w-100 mt-4 fw-normal">Останні обговорення</h4>
    <hr>

    <div class="d-flex justify-content-center mb-5">
        <div class="row row-cols-1 row-cols-md-3 g-3 w-100">
            {% for thread in threads %}
                <div class="col">
                    <div class="card">
                        <div class="card-body p-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="card-title">{{thread.title|truncatechars:20}}</h5>
                                <a href="{% url 'forum:thread-detail' thread.pk %}" class="stretched-link">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
                                        <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}