{% extends 'base.html' %}

{% block content %}
<div class="container" style="min-height: 88vh; margin-top: 12dvh;">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="d-flex gap-3 mb-3">
            <div class="w-50">
                <label for="screenshot">Screenshot</label>
                <input type="file" accept="image/*" name="screenshot" id="screenshot" class="form-control">
            </div>
            <div class="d-grid gap-3 w-50" style="height: fit-content;">
                <div class="card" style="height: fit-content;">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="w-100">
                                <label for="title">Title</label>
                                <input type="text" name="title" id="title" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text fs-5">
                            <label for="description">Description</label>
                            <textarea name="description" id="description" class="form-control"></textarea>
                        </p>
                    </div>
                </div>
    
                <div>
                    <h4>Необов'язкове</h4>
                    <label for="id_link">Link</label>
                    <input type="url" name="link" maxlength="200" id="id_link" class="form-control">
                </div>
    
                <div>
                    <label for="id_file">File</label>
                    <input type="file" name="file" id="id_file" class="form-control">
                </div>

                <button type="submit" class="btn btn-success mt-3">Опублікувати</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}