{% extends 'base.html' %}

{% block title %}Profile - {{ user.username }}{% endblock %}

{% block content %}
    <h1>Profile: {{ user.username }}</h1>
    
    <section>
        <h2>Personal Information</h2>
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <!-- Add more user details here if needed -->
    </section>

    <section>
        <h2>Recent Activities</h2>
        <!-- Here you can add any recent activities or posts by the user -->
    </section>
    {% if request.user.is_superuser %}
        <a href="{% url 'change_user_permissions' username=user.username %}">Change User Permissions</a>
    {% endif %}
{% endblock %}
